.bkJobs {
  padding-top: 5px;
  height: 90px;
}

.icon {
  font-size: 20px;
}

.item {
  min-width: 0;
  min-height: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}

.count {
  position: absolute;
  top: -10px;
  right: -10px;
  background: inherit;
  border: solid 2px #fff;
  border-radius: 30px;
  line-height: 0px;
  padding: 10px 15px 10px 10px;
  display: block;
  font-size: 11px !important;
  color: #fff;
  width: 20px;
  text-align: center;
}

div span.only-show-on-hover {
  visibility: hidden;
}

div:hover span.only-show-on-hover {
  visibility: visible;
}

.jobBox {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 85px;
  border: 3px solid #eee;
  border-radius: 15px;
  padding-left: 5px;
  margin-right: 10px;
}

span .title {
  padding-top: 3px;
  border-bottom: black 1px solid;
  height: 25px;
}
