.form-control{
  background-color: white;
}

.groupings-menu {
  list-style-type: none;
  padding: 0;
  display: block;
  background-color: #ccc;
}

.groupings-menu > li {
  width: 100%;
  height: 45px;
  background-color: #fafafa;
  border-bottom: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 10px;
}

.menu-section {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 1.5rem;
}

.groupings-menu > li > a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: #222;
}

.groupings-menu > li:hover {
  background-color: #ccc;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.success-badge {
  font-size: 7em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 8rem;
  color: #00cc22;
  margin-left: -1rem;
  height: 130px;
}

.success-badge::after {
  display: block;
  content: 'Gruppen er oprettet';
  text-align: center;
  font-size: 18px;
  position: absolute;
  bottom: 1rem;
}

.group-min-height{
  min-height: 3rem;
}