.pending-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.2em;
}

.pending-box > span {
  margin-right: 0.5em;
}

.spin {
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
