.hoverable:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
