.collapse-ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: -1px;
}

.collapse-ul > li {
  width: 100%;
  background-color: #fafafa;
  border-bottom: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 10px;
  transition: background-color 0.1s linear;
  /*margin-left: -20px;
    margin-right: -20px; */
}

.collapse-ul > li:hover {
  background-color: #ccc;
}

.collapse-ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: #222;
}

.red {
  background-color: rgba(255, 0, 0, 0.2) !important;  
}