.padding {
  padding: 8px 0 0 1.25rem;
}

.card-menu {
  padding: 2px 0;
}

.card-menu h6 {
  font-size: 12px;
  line-height: 8px;
}

.hoverable:hover {
  background-color: #d2d3d4 !important;
  cursor: pointer;
}
