.stepper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.step-content {
  grid-area: step-content;
}

.step {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step[data-active] {
  background-color: #0f7df1;
  color: #eee;
  font-weight: bold;
}

#file_upload {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  z-index: -1;
}

#file_upload_label {
  display: inline-block;
  font-size: 1em;
  min-width: 100px;
  text-align: center;
  height: 40px;
  line-height: 30px;
  color: #fafafa;
  background-color: #0069d9;
  border-radius: 5px;
  padding: 5px 7px;
  cursor: pointer;
}

#file_upload_label:hover {
  background-color: #5facff;
}

.subheader {
  padding-right: 0;
}

.invalid-text {
  color: #ff5555;
}

.error-border {
  border-color: #ff5555;
}

.step[data-active]::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 10px;
  transform: translateY(50%) rotate(45deg);
  background-color: #0f7df1;
  z-index: 3;
}

.step[data-ok]::after {
  font-family: 'FontAwesome';
  content: '\f00c';
  display: block;
  font-size: 1.2em;
  color: #0f7df1;
  width: auto;
  height: auto;
  text-align: center;
  margin-left: 0.4em;
  border-radius: 50%;
  padding: 5px;
}

.step[data-ok] {
  color: rgba(173, 173, 173, 0.8);
}

.check-grid {
  display: grid;
  grid-template-areas: 'cg-content';
  grid-template-columns: 100%;
  grid-template-rows: 95% auto;
  height: auto;
  position: relative;
  margin-bottom: 4em;
}

.check-control {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  background-color: #f8f8f8;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -3px 5px -3px #777;
  transition: all 0.1s ease-in-out;
}

.check-content {
  grid-area: cg-content;
  display: flex;
}

.check-grid-column {
  flex-grow: 1;
  background-color: #e2e2f2;
  margin: 3px;
  padding: 5px;
  max-height: 715px;
  overflow-y: scroll;
  overflow-x: hidden;
}
