.mybadge
{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mw60
{
  max-width: 60%;
}

.titled-row {
  padding-top: 5px;
  margin-top: 10px;
  border-top: 1px solid rgb(222, 222, 222);
  position: relative;
}

.titled-row::before {
  padding: 0 1.1em;
  position: absolute;
  display: block;
  content: attr(data-title);
  left: 50%;
  top: -0.6em;
  transform: translateX(-50%);
  background-color: #f8f9fa;
  font-weight: bold;
}